/* Estilos generales */
body {
  font-family: "Poppins", sans-serif;
  background-color: #5da631;
  color: white;
  margin: 0;
}

.header {
  background-color: #7dc352;
  padding: 15px 20px; /* Ajuste de padding para el header */
  display: flex;

  height: 30px; /* Establece una altura más adecuada para el header */
}

header .logo {
  display: flex;
  align-items: center; /* Centra verticalmente el logo y el texto */
  gap: 10px; /* Espacio entre el logo y el texto */
}

header .logo img {
  width: 60px; /* Tamaño del logo */
  height: 60px;
  border-radius: 50%;
}

header .Logo-Texto {
  font-size: 28px;
  font-weight: 800;
  color: white;
  letter-spacing: 1px;
}

/* Ajustes adicionales */
main {
  padding: 40px 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

form {
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form .form-group {
  margin-bottom: 15px;
}

form .form-group label {
  font-weight: bold;
}

form .form-group input,
form .form-group select,
form .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e5f2dd;
  color: #244020;
}

form .btn-generar-reporte {
  background-color: #3f7c2f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form .btn-generar-reporte:hover {
  background-color: #66a44f;
}

/* Estilo para el mensaje de reporte generado */
#mensaje-reporte-generado {
  margin-top: 20px;
}

#mensaje-reporte-generado h2 {
  font-size: 22px;
  font-weight: 700;
}

#descargar-reporte {
  display: inline-block;
  background-color: #f7df54;
  color: #333;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
}

#descargar-reporte:hover {
  background-color: #e9c849;
}
